useDynLib(adehabitat)

import(ade4,tkrplot,sp)
importFrom(shapefiles, convert.to.shapefile)
exportPattern("^[^\\.]")

S3method(print, ltraj)
S3method(print, clusthr)
S3method(print, dunnfa)
S3method(print, esr)
S3method(print, engenetalI)
S3method(print, engenetalII)
S3method(print, gnesfa)
S3method(print, madifa)
S3method(print, liker)
S3method(print, modpartltraj)
S3method(print, partltraj)
S3method(print, asc)
S3method(print, compana)
S3method(print, dataenfa)
S3method(print, enfa)
S3method(print, kasc)
S3method(print, khr)
S3method(print, kselect)
S3method(print, plotsahr)
S3method(print, sahrlocs)
S3method(print, rand.kselect)
S3method(print, traj)
S3method(print, wiI)
S3method(print, wiII)
S3method(print, wiIII)

S3method(plot, clusthr)
S3method(kplot, kselect)
S3method(plot, madifa)
S3method(plot, partltraj)
S3method(plot, area)
S3method(plot, asc)
S3method(plot, fipati)
S3method(plot, hrsize)
S3method(plot, kselect)
S3method(plot, kver)
S3method(plot, ltraj)
S3method(plot, sahrlocs)
S3method(plot, traj)
S3method(plot, wi)

S3method(summary, traj)
S3method(summary, ltraj)

S3method(image, asc)
S3method(image, kasc)
S3method(image, khr)
S3method(image, sahrlocs)

S3method(lowres, asc)
S3method(lowres, kasc)

S3method(qqchi, ltraj)
S3method(qqchi, default)

S3method(subsetmap, asc)
S3method(subsetmap, kasc)

S3method(wawotest, ltraj)
S3method(wawotest, default)

